div>span.titulo_Aula{
  text-align: left;
  font-family: Arial-black;
  font-size: 30px;
}

	
.imagen:hover{
	border-radius:50%;
	-webkit-border-radius:50%;
	box-shadow: 0px 0px 15px 15px #DCD5D5;
	-webkit-box-shadow: 0px 0px 15px 15px #DCD5D5;
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}


.list-unstyled > li{
	text-align: left;
	border-bottom: 1px dotted #7C7C7C;
}

.list-unstyled > li >a{
	 color: #A1A4A4;
}



.btn{
	background: #eee;
}
.btn:hover{
	background: #5B9AE5;
}